
/* Gerais */

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */

header, .navbar {
    background-color: #7e290f;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    margin-left: 1rem;
    width: 75px;
    border-radius: 50%;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

#navbar-links a:hover {
    color: #7e290f;
}

.navbar-nav {
    margin-right: 1rem;
}

.navbar-nav .nav-link {
    cursor: pointer;
    transition: .5s;
}

#navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.main-btn {
    background-color: #7e290f;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
}

.main-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #7e290f;
}

.carousel-indicators .active {
    background-color: #7e290f;
}

 /*Simple effect parallax with css*/
 #data-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: url('../img/moldura2.png');
}

#apply-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: url('../img/sala.jpg');
}

/* Sobre a Empresa */
.img-fluid{
    width: 450px;
    border-radius: 50%;
}

#about-area {
    background-color: #f9f9f9;
}

.main-title {
    color: rgb(39, 39, 39);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}
.main-title2 {
    color: rgb(255, 255, 255);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title2::after {
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    margin-top: 10px;
    left: 42.5%;
    border-top: 2px solid rgb(255, 255, 255);
}

.main-title::after {
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    margin-top: 10px;
    left: 42.5%;
    border-top: 2px solid #333;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #7e290f;
    margin-right: 15px;
}

/* Serviços */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: #7e290f;
}

/* Dados */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Time */

.card-body {
    text-align: center;
}

/* Trabalhe Conosco */

#apply-area {
    height: 500px;
}

#apply-area .container-fluid, #apply-area .container-fluid .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    background-image: url('../img/empresa.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p {
    color: #fff;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img p {
    margin-bottom: 20px;
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;
}

#apply-btn:hover {
    border-color: #7e290f;
    background-color: #7e290f;
}

/* Portfólio */
.imgpisos{
    width: 450px;
    height: 450px;
}

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#portfolio-area #filter-btn-box .filter-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

#portfolio-area #filter-btn-box .filter-btn.active, #portfolio-area #filter-btn-box .filter-btn:hover {
    color: #fff;
    background-color: #7e290f;
    border-color: #7e290f;
}

/* News Letter */

#news-area {
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p {
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #7e290f;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #7e290f;
    background-color: #7e290f;
    text-transform: uppercase;
    color: #f9f9f9;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
}

#news-btn:hover {
    background-color: #f9f9f9;
    color: #7e290f;
}

/* Call to Action */

#call-area {
    background-color: #7e290f;
    text-transform: uppercase;
}

.whats{
    animation-name: whats;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes whats{
    from{
        transform: translate3d(0,0,0);
        filter: brightness(100%);
    }
    to{
        transform: translate3d(0,-15px,0);
        filter: brightness(150%);
    }
}


#call-area .container {
    padding: 40px 100px;
}

#call-area .row {
    display: block;
    text-align: center;
}

#call-area p {
    color: #f9f9f9;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    letter-spacing: 2px;
    margin-bottom: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
}

#call-area #call-btn {
    background-color: #f9f9f9;
    color: #7e290f;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    width: auto;
    letter-spacing: 2px;
}


/* Footer */

#contact-area {
    text-align:center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #7e290f;
}

.contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #7e290f;
}

#msg-box p {
    font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn {
    width: 120px;
    height: 50px;
}

#contact-form .main-btn:hover {
    color: #7e290f;
}

/* Copy */

#copy-area {
    background-color: #f1f1f1;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container a {
    font-weight: bold;
    color: #444;
}

#copy-area .container a:hover {
    text-decoration: none;
    color: #7e290f;
}

/* Responsive */

@media(max-width: 768px) {

    /* geral */
    .container {
        padding: 20px 0;
        width: auto;
    }

    /* Slider */
    .navbar .navbar-toggler {
        margin-right: 16px;
    }

    #mainSlider .carousel-inner, #mainSlider .carousel-item {
        height: auto;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 28px;
    }

    #mainSlider .carousel-caption p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .carousel-caption {
        left: 10%;
        right: 10%;
    }

    /* About */
    #about-area img {
        margin-top: 100px;
    }

    /* Data */
    .circle-box div {
        padding: 0 10px;
    }

    #data-area p {
        font-size:16px;
    }

    /* Team */
    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 12px;
    }

    /* Apply */
    #apply-area .apply-box {
        padding: 50px 25px;
    }

    /* News */
    #news-area p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #email-input {
        width: 70%;
    }

    #call-area {
        margin-top: 30px;
    }

    #call-area .container {
        padding: 30px;
    }

    #call-area p, #call-area #call-btn {
        font-size: 16px;
    }
}

/* Mobile */
@media(max-width:400px) {

    .container{
        padding: 20px 0;
        width: auto;
    }
    #portifolio-area{
        width: 50%;
        max-width: auto;
    }

    /* Slider */
    #mainSlider {
        margin-top: 90px;
    }

    #mainSlider .carousel-caption {
        top: 5%;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    #mainSlider .carousel-caption p {
        display: none;
    }

    .carousel-caption .main-btn {
        font-size: 14px;
    }

    /* About */
    .main-title {
        font-size: 30px;
    }

    #about-area img {
        margin-top: 0;
        margin-bottom: 30px;
    }

    /* Data */
    .circle-box {
        width: auto;
    }


    /* Apply */
    #apply-area {
        height: auto;
    }

    #company-img {
        display: none;
    }

    /* Filter */
    #portfolio-area #filter-btn-box .filter-btn {
        margin-bottom: 20px;
    }

    .project-box {
        width: auto;
    }

    /* News */
    #news-area .main-title {
        font-size: 24px;
    }

    #news-area p {
        font-size: 16px;
    }

    #email-input {
        width: auto;
    }

    /* CTA */
    #call-area p, #call-area #call-btn {
        font-size: 12px;
        letter-spacing: 0;
        margin: 0;
        width: auto;
    }

    /* Contact */
    .contact-box {
        border: none;
        margin-bottom: 0;
    }
}